<h1 class="text-center mt-4">Articles Listing Page</h1>

<p class="text-center"><%= link_to 'Create New Article', new_article_path, class: "btn btn-success mt-2 mb-2"%></p>

<%= render 'article', obj: @articles %>