@import 'bootstrap/dist/css/bootstrap';

$background-primary:              #1b2327;
$background-secondary:            #1f292e;
$background-secondary-highlight:  #27333a;
$tint:                            rgba(39, 51, 58, .4);
$light-primary:                   #ffffff;
$light-secondary:                 #bcbfc1;
$accent-primary:                  #418e86;
$accent-primary-highlight:        #37988e;
$accent-secondary:                #6f4fff;
$accent-secondary-highlight:      #7e4fff;
$accent-danger:                   #dc3545;
$disabled:                        #aaaaaa;


// General
html,
body {
  height: 100%;
}

h1 {
  color: $light-secondary;
}

h2 {
  color:$light-secondary;
}

.link,
.link:hover {
  color:$light-secondary;
}

#page-content {
  flex: 1 0 auto;
  background-color: $background-primary;
}

.admin-title{
  color: $accent-primary;
}
// End General



// Navbar 
#nav-search{
  background-color: $background-primary;
  border-color: $background-secondary;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: $accent-primary !important;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.navbar-dark {
  background-color: $background-secondary !important;
}

.nav-link {
  color:$light-secondary !important;
}

.dropdown-menu {
  background-color: $background-secondary;
}

.dropdown-item{
  color: $light-secondary;
}

.dropdown-item:hover{
  background-color:$background-secondary-highlight;
  color: $accent-primary;
}

.dropdown-divider{
  color:  $accent-primary !important;
}

// End Navbar



// Flash Messages
.alert-danger {
  background-color: $accent-danger;
  border: none;
  color: $light-primary;
}

.alert-success {
  background-color: $accent-primary;
  border: none;
  color:  $light-primary;
}

// End Flash Messages



// Footer
#sticky-footer {
  flex-shrink: none;
  background-color: $background-secondary !important;
}

// End Footer



// Buttons
#btn-submit-form {
  margin-right: 20px;
}

#btn-cancel-form {
  margin-left: 20px;
}

#show-btn-delete {
  margin-left: 1.80em;
}

.btn-primary {
  background-color: $accent-secondary;
  border: none;
}

.btn-primary:hover {
  background-color:$accent-secondary-highlight;
}

.btn-outline-success {
  background-color: $accent-primary !important;
  border: none;
  color: $light-primary;
}

.btn-outline-success:hover {
  background-color: $accent-primary-highlight !important;
  border: none;
}

.btn-success {
  background-color: $accent-primary !important;
  border: none;
}

.btn-success:hover{
  background-color: $accent-primary-highlight !important;
  border: none;
}

// End buttons



// Cards
#card-title-text {
  color: $accent-primary;
}

.card{
  border: none;
}
.card-body {
  background-color: $background-secondary;
  color:$light-secondary;
  border: none;
}

.card-header,
.card-footer {
  background-color:$background-secondary-highlight;
  color:$light-secondary;
}

.card-header:first-child {
  border: none;
}

.badge-success {
  background-color: $accent-primary;
}

.badge-success:hover {
  background-color: $accent-primary-highlight !important;
}

// End Cards



// Pagination
.apple_pagination {
  background: $background-primary;
  border: none;
  text-align: center;
  padding: 1em;
  cursor: default; 
}

.apple_pagination a, 
.apple_pagination span {
  padding: 0.2em 0.3em; 
}

.apple_pagination .disabled {
  color: $disabled; 
}

.apple_pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: $accent-primary;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em; 
}

.apple_pagination a {
  text-decoration: none;
  color: $light-primary; 
}

.apple_pagination a:hover, 
.apple_pagination a:focus {
  text-decoration: none;
  color: $accent-primary;
}

// End Pagination



// Forms
.general-form {
  background-color: $background-secondary !important;
  color:$light-secondary !important;
}

.form-input, 
.form-input:active,
.form-input:focus {
  background-color:$background-secondary-highlight;
  border: none;
  color:$light-secondary;
}

.custom-select {
  background-color:$background-secondary-highlight;
  color: $light-primary;
}

// End Forms



// Homepage
#home-container {
  margin-top: 25px;
}

.jumbotron {
  // Image from: https://unsplash.com/photos/xApC8DIiD54
  background-image: asset-url('jumbo.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  // No color shortcut used here 
  text-shadow: -1px 0 $background-primary, 0 1px $background-primary, 1px 0 $background-primary, 0 -1px $background-primary;
}

.jumbo-tint {
  background-color: $tint;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 1em;
}

// End Homepage