@import 'bootstrap/dist/css/bootstrap';

.nav-link {
  color: #03DAC6 !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #BB86FC !important;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container {
  margin-top: 25px;
}

.jumbotron {
  /*image from: https://unsplash.com/photos/52kpeE5DIfA*/
  background-image: asset-url('jumbotronbg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: -1px 0 #373b41, 0 1px #373b41, 1px 0 #373b41, 0 -1px #373b41;
}

.btn-primary {
  background-color: #BB86FC;
  border: none;
}

.btn-primary:hover {
  background-color: #a560fb;
}

.btn-outline-success {
  background-color: #018786 !important;
  color:  #d3d3d3;
  border: none;
}

.btn-success {
  background-color: #018786;
  border-color: #018786;
}

.btn-success:hover{
  background-color: #01605f;
  border: none;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: #d3d3d3;
}

#sticky-footer {
  flex-shrink: none;
}

#card-title-text {
  color: #018786;
}

.card-body {
  background-color: #373b41;
  color: #d3d3d3;
  border: none;
}

.card-header,
.card-footer {
  background-color: #43484f;
  color: #d3d3d3;
  border: none;
}

#btn-submit-form {
  margin-right: 20px;
}

#btn-cancel-form {
  margin-left: 20px;
}

#create-article-form {
  background-color: #BB86FC;
  color: white;
}