@import 'bootstrap/dist/css/bootstrap';



// General
html,
body {
  height: 100%;
}

h1 {
  color: #bcbfc1;
}

h2 {
  color: #bcbfc1;
}

.link,
.link:hover {
  color: #bcbfc1;
}

#page-content {
  flex: 1 0 auto;
  background-color: #1b2327;
}

.admin-title{
  color: #418e86;
}
// End General



// Navbar 
#nav-search{
  background-color: #1b2327;
  border-color: #1f292e;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #418e86 !important;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.navbar-dark {
  background-color: #1f292e !important;
}

.nav-link {
  color: #bcbfc1 !important;
}

.dropdown-menu {
  background-color: #1f292e;
}

.dropdown-item{
  color:  #bcbfc1;
}

.dropdown-item:hover{
  background-color: #27333a;
  color: #418e86;
}

.dropdown-divider{
  color:  #418e86 !important;
}

// End Navbar



// Flash Messages
.alert-danger {
  background-color: #dc3545;
  border: none;
  color: white;
}

.alert-success {
  background-color: #418e86;
  border: none;
  color:  white;
}

// End Flash Messages



// Footer
#sticky-footer {
  flex-shrink: none;
  background-color: #1f292e !important;
}

// End Footer



// Buttons
#btn-submit-form {
  margin-right: 20px;
}

#btn-cancel-form {
  margin-left: 20px;
}

#show-btn-delete {
  margin-left: 1.80em;
}

.btn-primary {
  background-color: #6f4fff;
  border: none;
}

.btn-primary:hover {
  background-color: #7e4fff;
}

.btn-outline-success {
  background-color: #418e86 !important;
  border: none;
  color: white;
}

.btn-outline-success:hover {
  background-color: #37988e !important;
  border: none;
}

.btn-success {
  background-color: #418e86 !important;
  border: none;
}

.btn-success:hover{
  background-color: #37988e !important;
  border: none;
}

// End buttons



// Cards
#card-title-text {
  color: #018786;
}

.card{
  border: none;
}
.card-body {
  background-color: #1f292e;
  color: #bcbfc1;
  border: none;
}

.card-header,
.card-footer {
  background-color: #27333a;
  color: #bcbfc1;
}

.card-header:first-child {
  border: none;
}

.badge-success {
  background-color: #418e86;
}

.badge-success:hover {
  background-color: #37988e !important;
}

// End Cards



// Pagination
.apple_pagination {
  background: #1b2327;
  border: none;
  text-align: center;
  padding: 1em;
  cursor: default; 
}

.apple_pagination a, 
.apple_pagination span {
  padding: 0.2em 0.3em; 
}

.apple_pagination .disabled {
  color: #aaaaaa; 
}

.apple_pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #418e86;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  //text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; 
}

.apple_pagination a {
  text-decoration: none;
  color: white; 
}

.apple_pagination a:hover, 
.apple_pagination a:focus {
  text-decoration: none;
  color: #418e86;
}

// End Pagination



// Forms
.general-form {
  background-color: #1f292e !important;
  color: #bcbfc1 !important;
}

.form-input, 
.form-input:active,
.form-input:focus {
  background-color: #27333a;
  border: none;
  color: #bcbfc1;
}

.custom-select {
  background-color: #27333a;
  color: white;
}

// End Forms



// Homepage
#home-container {
  margin-top: 25px;
}

.jumbotron {
  // Image from: https://unsplash.com/photos/xApC8DIiD54
  background-image: asset-url('jumbo.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: -1px 0 #373b41, 0 1px #373b41, 1px 0 #373b41, 0 -1px #373b41;
}

.jumbo-tint {
  background-color: rgba(39, 51, 58, .4);
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 1em;
}

// End Homepage