<%# Category edit page header %>
<h1>Edit Category Name</h1>
<%# Container for centering w/ bootstrap %>
<div class="container">
  <%# center content inside div %>
  <div class="row justify-content-center">
    <div class="col-10">
      <%# Display category edit form from _form %>
      <%= render 'form' %>
    </div>
  </div>
</div>
