<%# Footer bar %>
<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container text-center">
    <%# Display copyright symbol and link to github project %>
    <small>Copyright &copy; <%= link_to "View This Project On GitHub", "https://github.com/jnhthomp/alpha-blog2", class: "text-white" %></small>
  </div>
</footer>